.cockpit {
  width: 100%;
  padding: 50px 0px 0px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 600px) {
  .cockpit {
    max-width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .cockpit {
    width: 40vw;
    left: 30vw;
    right: 30vw;
    margin: 0;
  }
}
